<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077014622989-m5tij2fu2ti21qdp8gc09lurecorh66l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077014622989-m5tij2fu2ti21qdp8gc09lurecorh66l</string>
	<key>API_KEY</key>
	<string>AIzaSyCjYFYPh0a86YfVG1R0hLuxhm9ZFLApBvc</string>
	<key>GCM_SENDER_ID</key>
	<string>1077014622989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.umd.juvo1998</string>
	<key>PROJECT_ID</key>
	<string>gflgo-d053c</string>
	<key>STORAGE_BUCKET</key>
	<string>gflgo-d053c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077014622989:ios:9db8ca0646f2d859</string>
	<key>DATABASE_URL</key>
	<string>https://gflgo-d053c.firebaseio.com</string>
</dict>
</plist>