<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520709880354-kndbgfoppk6ak8h3dp78krja9ihn856s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520709880354-kndbgfoppk6ak8h3dp78krja9ihn856s</string>
	<key>API_KEY</key>
	<string>AIzaSyAqz9LCisY4zSYzd1dR0kPkTlZLuAWM9t0</string>
	<key>GCM_SENDER_ID</key>
	<string>520709880354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.umd.juvo1998</string>
	<key>PROJECT_ID</key>
	<string>testgame-72ce6</string>
	<key>STORAGE_BUCKET</key>
	<string>testgame-72ce6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520709880354:ios:9db8ca0646f2d859</string>
	<key>DATABASE_URL</key>
	<string>https://testgame-72ce6.firebaseio.com</string>
</dict>
</plist>